#cage
    position: fixed
    top: 0
    left: 80px
    width: 200px
    height: 100%
    margin-top: var(--cage-margin-top)
    pointer-events: none
    transition: margin-top .8s ease-in
    animation: cage 5s infinite
//margin-top: -90px is whole cage+chain

\:root 
    --cage-margin-top: -470px

@keyframes cage
    0%  
        transform: rotate(-3deg)
        transform-origin: 80px 0
    50% 
        transform: rotate(1deg)
        transform-origin: 80px 0
    50% 
        transform: rotate(1deg)
        transform-origin: 80px 0
    100%
        transform: rotate(-3deg)
        transform-origin: 80px 0
    
.cage-airi, .cage-broken-chain
    position: absolute
    background-repeat: no-repeat
    background-size: contain
    background-position: center center  

.cage-broken-chain
    top: 0
    width: 200px
    height: 102px
    background-image: url("../../../static/images/chain.png")

.cage-airi
    top: 0
    margin-top: 102px
    width: 200px
    height: 373px
    background-image: url("../../../static/images/cage.png")
    transition: margin-top 1s ease-in

.cage-airi-game-over
    margin-top: 500% !important

// @media (max-height: 768px) 
//     .cage-airi, .cage-broken-chain
//         transform: scale(0.7)
//         transform-origin: 0 0px
        

