@font-face 
    font-family: "capture-it"
    src: url("./font/capture-it.ttf")

body, html
  //font-family: Helvetica
  height: 100%
  background-image: linear-gradient(to right top, #394b66, #4c6188, #6476ab, #808ccf, #a1a1f2);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0
  margin: 0
  
#container
  height: 100%
